 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
 * {
	 box-sizing: border-box;
}
 html, body {
	 overflow-x: hidden;
	 font-family: "Open Sans", sans-serif;
	 font-weight: 300;
	 line-height: 1.4;
	 color: #fff;
	 background: #000;
}
 .row {
	 max-width: 800px;
	 margin: 0 auto;
	 padding: 60px 30px;
	 position: relative;
	 z-index: 1;
	 text-align: center;
}
 .row:before {
	 position: absolute;
	 content: "";
	 display: block;
	 top: 0;
	 left: -5000px;
	 height: 100%;
	 width: 15000px;
	 z-index: -1;
	 background: inherit;
}
 .row:first-child {
	 padding: 40px 30px;
}
 .row span {
	 position: relative;
	 display: inline-block;
	 margin: 30px 10px;
}
 .input-slide {
	 position: relative;
	 display: inline-block;
	 width: 215px;
	 padding: 12px 0 12px 15px;
	 font-family: "Open Sans", sans;
	 font-weight: 400;
	 color: #000;
	 background: #efefef;
	 border: 0;
	 border-radius: 3px;
	 outline: 0;
	 text-indent: 60px;
	 transition: all 0.3s ease-in-out;
}
 .input-slide::-webkit-input-placeholder {
	 color: #efefef;
	 text-indent: 0;
	 font-weight: 300;
}
 .input-slide + label {
	 display: inline-block;
	 position: absolute;
	 transform: translateX(0);
	 top: 0;
	 left: 0;
	 bottom: 0;
	 padding: 13px 15px;
	 font-size: 11px;
	 font-weight: 700;
	 text-transform: uppercase;
	 color: #032429;
	 text-align: left;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	 transition: all 0.3s ease-in-out, color 0.3s ease-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
	 overflow: hidden;
}
 .input-slide + label:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 right: 100%;
	 bottom: 0;
	 width: 100%;
	 background: #7108a6;
	 z-index: -1;
	 transform: translate(0);
	 transition: all 0.3s ease-in-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
}
 .input-slide:focus, .input-slide:active {
	 color: #000;
	 text-indent: 0;
	 background: #fff;
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .input-slide:focus::-webkit-input-placeholder, .input-slide:active::-webkit-input-placeholder {
	 color: #aaa;
}
 .input-slide:focus + label, .input-slide:active + label {
	 color: #fff;
	 text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
	 transform: translateX(-100%);
}
 .input-slide:focus + label:after, .input-slide:active + label:after {
	 transform: translate(100%);
}
